*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    --blurple: #5865F2;
    --background: #000120;
    --sambot: #ff6600;
}

body{
    background-color: #000120;
    padding-bottom: 5rem;
}

nav{
    background-color: #a03b00c4;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 999;
    box-shadow: 0 -3rem 10rem blue;
}

.logo{
    display: flex;
    align-items: center;
    width: 30%;
}

.logo a{
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: rgb(0, 2, 105);
    transition: all 0.3s ease;
}

.logo a:hover{
    transition: all 0.3s ease;
    color: orangered;
    text-shadow: 0 0 1rem black;
}

nav li{
    list-style: none;
}

nav ul li a{
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    transition: all 0.3s ease;
    color: blue;
    text-shadow: 0 0 1rem black;
}

.yt{
    background-color: red;
}

.disc{
    background-color: blue;
}

nav li button, #mobile-menu li a button{
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
}

#mobile-menu{
    display: none;
}

#menu-toggle{
    display: none;
}

.yt:hover{
    transition: all 0.3s ease;
    background-color: rgb(139, 0, 0);
}

.disc:hover{
    transition: all 0.3s ease;
    background-color: rgb(0, 0, 133);
}

nav ul{
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-around;
}

h1.intro{
    display: flex;
    justify-content: center;
    font-size: 85px;
    margin-top: 12rem;
    color: var(--sambot);
}

h4.subhead{
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 35px;
    margin-top: 1rem;
}

div.btn-container{
    display: flex;
    position: absolute;
    left: 30rem;
    margin-top: 1.75rem;
    width: 40rem;
    justify-content: space-around;
}

div.btn-container-two{
    display: flex;
    position: absolute;
    left: 30rem;
    margin-top: 10rem;
    width: 40rem;
    justify-content: space-around;
}

.btn-container a, .btn-container-two a{
    width: 11%;
    justify-content: space-around;
}

.btn-container button, .btn-container-two button{
    color: rgb(255, 255, 255);
    background-color: red;
    border: none;
    cursor: pointer;
    display: flex;
    width: 300px;
    padding: 30px;
    border-radius: 50px 10px;
    font-size: 40px;
    justify-content: space-around;
    transition: all 0.3s ease;
}

.btn-container a, .btn-container-two a{
    text-decoration: none;
}

.btn-container button:hover, .btn-container-two button:hover{
    transition: all 0.3s ease;
    background-color: blue;
    box-shadow: 0 0 15px 10px blue;
    border-radius: 20px 70px;
    padding: 35px;
}

.showcase-container{
    margin-top: 20rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showcase-container .fun{
    margin-left: 0;
}

.showcase-container .fun h4, .showcase-container .fun h1{
    color: rgb(255, 0, 200);
}

.showcase-container div h4{
    margin-top: 5rem;
    width: 20rem;
    text-align: center;
}

.showcase-container div h1{
    margin-top: 1rem;
    text-align: center;
}

.showcase-container div:hover{
    box-shadow: 0 0 10px 8px var(--sambot);
}

.showcase-container div{
    transition: all 0.3s ease;
    background-color: var(--blurple);
    height: 20rem;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px var(--sambot);
    margin-left: 8rem;
}

.showcase-container .ticket h4, .showcase-container .ticket h1{
    color: rgb(25, 109, 0);
}

.showcase-container .mod h4, .showcase-container .mod h1{
    color: rgb(255, 0, 0);
    width: 20rem;
}

.showcase-container .mod h4{
    margin-top: 3rem;
    width: 20rem;
    padding-right: 1px;
    padding-left: 1px;
}

.scroll-arrow i{
    cursor: pointer;
    font-size: 55px;
    display: flex;
}

.scroll-arrow{
    display: flex;
    justify-content: center;
    margin-top: 26rem;
    transition: all 0.2s ease;
}

.scroll-arrow i.down{
    color: #cc5200c2;
    padding: 1.5rem;
}

.scroll-arrow i {
    transition: all 0.2s ease;
}

.scroll-arrow i:hover{
    color: var(--sambot);
    padding: 1rem;
}

.cmd-container{
    text-align: center;
    margin-top: 3rem;
}

.cmd-container h1{
    font-size: 45px;
}

.cmds{
    border-radius: 10px 50px;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 4rem;
    font-size: 25px;
    cursor: default;
    width: 400px;
    height: fit-content;
    padding: 1rem;
    box-shadow: 0 0 20px 1px var(--sambot);
    background-color: #5865F2;
    margin-left: 46rem;
}

.cmds:hover{
    transition: all 0.3s ease;
    box-shadow: 0 0 20px 10px var(--sambot);
    padding-top: 2rem;
}

.cmds li{
    list-style: none;
    font-weight: bold;
    color: rgb(255, 72, 0);
    line-height: 2.5rem;
}


.cmds h1{
    color: rgba(202, 57, 0, 0.863);
}

.scroll-up{
    font-size: 60px;
    margin-top: 7rem;
    transition: all 0.2s ease;
}

.scroll-up:hover{
    color: var(--sambot);
    cursor: pointer;
    padding: 1rem;
}

.scroll-up.down{
    color: #9e3f00ce;
    padding: 1.5rem;
}

.not-found{
    cursor: default;
    text-align: center;
    margin-top: 5rem;
    font-size: 25px;
}

.not-found h4{
    margin-top: 1rem;
}

.error-btn-container{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

.error-btn-container button{
    color: rgb(255, 255, 255);
    background-color: blue;
    border: none;
    cursor: pointer;
    display: flex;
    width: 225px;
    margin-left: 2rem;
    padding: 10px;
    border-radius: 50px 5px;
    font-size: 35px;
    justify-content: space-around;
    transition: all 0.3s ease;
}

.error-btn-container button:hover{
    transition: all 0.3s ease;
    padding: 15px;
    border-radius: 10px 55px;
    background-color: red;
    box-shadow: 0 0 10px 10px rgb(255, 0, 0);
}

.error-btn-container a{
    text-decoration: none;
}

.cmds ul li{
    text-transform: capitalize;
}

.updates-container{
    text-align: center;
    margin-top: 3rem;
}

.updates-container ul{
    margin-top: 1rem;
}

.updates-container li{
    list-style: none;
    margin-top: 0.5rem;
}

.updates-container div{
    margin-top: 5rem;
}

.updates-container div p{
    margin-top: 1rem;
    line-height: 2rem;
    color: var(--sambot);
    max-width: 50vw;
    margin-left: 30rem;
}

.updates-container div h3{
    margin-top: 1rem;
    font-weight: 800;
    color: var(--blurple);
}

.updates-container div ul{
    list-style: none;
}

.updates-container div ul li{
    color: var(--sambot);
}

.update-join{
    position: fixed;
    top: 56rem;
    left: 36rem;
    text-align: center;
}

.update-join a{
    color: rgb(71, 71, 255);
    transition: all 0.3s ease;
}

.update-join a:hover{
    transition: all 0.3s ease;
    color: blue;
    text-decoration: none;
}

.nav-link.down{
    color: red;
}

.logo.down a{
    transition: all 0.3s ease;
    color: rgb(214, 57, 0);
}

[hover-card]{
    position: relative;
}

[hover-card]:hover::after, [hover-card]:focus::after{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: max-content;
    padding: 5px;
    text-align: center;
    content: attr(hover-card);
    background-color: rgba(211, 211, 211, 0.651);
    color: black;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

h1.faq{
    margin-top: 2rem;
    text-align: center;
    font-size: 40px;
}

.faq-container{
    text-align: center;
    margin-top: 2rem;
}

.faq-container .question{
    font-size: 30px;
}

.faq-container .ans{
    max-width: 50%;
    margin-left: 31rem;
    line-height: 1.5rem;
}

.faq-container .question::before{
    content: 'Q: ';
    color: red;
}

.faq-container .question::after{
    content: '?';
}

.faq-container .ans::before{
    content: 'A: ';
    color: red;
}

.faq-container .ans{margin-top: 1rem;}

.faq-container div{
    margin-top: 5rem;
}

.faq-container a{
    color: orangered;
    transition: all 0.2s ease-in-out;
}

.faq-container a:hover{
    text-decoration: none;
    color: rgb(141, 39, 1);
}